.footer {
  padding: 6rem 0;
  background: $color-pri;
}
.footer-heading {
  @include flex-icenter;
  gap: 5rem;
  @include max(767.98px) {
    gap: 2rem;
  }
  @include max(575.98px) {
    flex-direction: column;
  }
}
.footer-name {
  color: $color-text;
  @include fz-34;
  line-height: 4rem;
  @include max(575.98px) {
    font-size: 2.2rem;
  }
}
.footer-list {
  li {
    &:not(:first-child) {
      margin-top: 0.5rem;
    }
  }
}
.footer-item {
  color: #fff;
  @include fz-20;
  @include transition;
  &:hover {
    color: $color-text;
  }
}
.footer-info {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @include max(1199.98px) {
    width: calc(100% / 3 * (1 - 1 / 3) * 2rem);
  }
  @include max(991.98px) {
    width: 50%;
    &.is-address {
      width: 100%;
    }
  }
  @include max(575.98px) {
    gap: 1.5rem;
    width: 100%;
  }
}
.share {
  @include flex-icenter;
  gap: 1rem;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  @include max(1199.98px) {
    gap: 3rem;
  }
  @include max(991.98px) {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3rem 0;
  }
  @include max(575.98px) {
    gap: 2rem 0;
  }
}
.footer-title {
  color: $color-text;
  @include fz-24;
  text-transform: uppercase;
}
.footer-notice {
  max-width: 99.5rem;
  margin-top: 0.5rem;
  @include fz-14;
  color: #fff;
  line-height: 2.3rem;
  @include max(991.98px) {
    margin-top: 2rem;
  }
}
